rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isFamilyEmail() {
      return request.auth != null
        && request.auth.token.email in [
          "fadlon1980@gmail.com",
          "fadlonmay@gmail.com"
        ];
    }

    match /families/fadlon-family/{allPaths=**} {
      allow read, write: if isFamilyEmail();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
