rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isFamilyEmail() {
      return request.auth != null
        && request.auth.token.email in [
          "REPLACE_ELAD_EMAIL@gmail.com",
          "REPLACE_MAAYAN_EMAIL@gmail.com",
          "REPLACE_MICHAL_EMAIL@gmail.com",
          "REPLACE_MAYA_EMAIL@gmail.com",
          "REPLACE_DANIEL_EMAIL@gmail.com"
        ];
    }

    match /families/fadlon-family/{allPaths=**} {
      allow read, write, delete: if isFamilyEmail();
    }

    match /{allPaths=**} {
      allow read, write, delete: if false;
    }
  }
}
